<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Vehicles</title>
</head>
<body>

<h1>Vehicles:</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Year</th>
        <th>Price</th>
        <th>Mileage</th>
        <th>Purchase Date Time</th>
        <th>Brand</th>
        <th>Drivers</th>
        <th>Action</th>
    </tr>
    <tr >
        <td th:text="${vehicle.id}">id</td>
        <td th:text="${vehicle.year}">year</td>
        <td th:text="${vehicle.price}">price</td>
        <td th:text="${vehicle.mileage}">mileage</td>
        <td th:text="${vehicle.purchaseDateTime}">purchaseDateTime</td>
        <td th:text="${vehicle.brandName}">brandName</td>
        <td><a th:text="drivers" th:href="@{/drivers/vehicle/{vehicleId}(vehicleId=${vehicle.id})}">Drivers</a></td>
        <td><a th:href="@{/vehicles/delete/{vehicleId}(vehicleId=${vehicle.id})}">Delete</a></td>
        <td><a th:href="@{/vehicles/{vehicleId}/edit(vehicleId=${vehicle.id})}">Edit</a></td>


        <ul>
            <a th:href="@{/routes/{vehicleId}(vehicleId=${vehicle.id})}" th:text="${vehicle.brandName}">Vehicle Name</a>
        </ul>
    </tr>

    <h3><a th:href="@{/vehicles/new}">New vehicle</a></h3>
</table>

<h3>Select a dateTime range for the rides selection</h3>
<form th:action="@{/rides(vehicleId=${vehicle.id})}" method="post">
    <label for="fromDate">From Date:</label>
    <input type="date" id="fromDate" name="fromDate">
    <label for="toDate">To Date:</label>
    <input type="date" id="toDate" name="toDate">
    <button type="submit">Select</button>
</form>

<br/>
<hr/>
</body>
</html>